@import url('https://fonts.google.com/specimen/Poppins');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 67%;
}

body{
    font-family: Poppins,sans-serif;
    margin: 50px 30px;
}

:root{
--Red: hsl(0, 78%, 62%);
--Cyan : hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);
--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light-Gray: hsl(0, 0%, 98%);
}

.heading{
    text-align: center;
    padding: 7px;
    font-size: 30px;
    line-height: 35px;
}

.heading :first-child{
    color: var(--Grayish-Blue);
}

.heading :last-child{
    font-weight: 600;
    color: var(--Very-Dark-Blue);
}

.discription{
    text-align: center;
    width: 300px;
    margin: 10px auto;
    color: var(--Grayish-Blue);
    line-height: 15px;
}

main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 50px 0px;
    gap: 15px;
}

.container{
    height: 250px;
    padding: 20px;
}

.header{
    font-size: 15px;
    font-weight: 600;
    color: var(--Very-Dark-Blue);
}

.about{
    margin-top: 20px;
    color:var(--Grayish-Blue)
}

.imageContainer{
    display: grid;
    justify-content: right;
    margin-top:calc(250px - 180px);;
}

img{
    display: inline-block;
    width: 50px;
}

.supervisor{
    box-shadow: 0px -7px var(--Cyan),0px 0px 5px rgba(0, 0, 0, 0.144) ;
    border-radius: 5px;
}

.teamBuilder{
    box-shadow: 0px -7px var(--Red),0px 0px 5px rgba(0, 0, 0, 0.144) ;
    border-radius: 5px; 
}

.karma{
    box-shadow: 0px -7px var(--Orange),0px 0px 5px rgba(0, 0, 0, 0.144) ;
    border-radius: 5px; 

    margin-top: 20px;
}

.calculator{
    box-shadow: 0px -7px var(--Blue),0px 0px 5px rgba(0, 0, 0, 0.144) ;
    border-radius: 5px; 
}

.calcuatorCont,.supervisorCont{
    display: grid;
    align-items: center;
    height: calc(2*250px + 20px);
    
    
}

@media screen and  (max-width:628px) {
    main{
        display: block;
    }
  .calcuatorCont,.supervisorCont{
      display: block;
      height: auto;
      margin: 20px 0px;
  }  
  .heading{
      font-size: 17px;
  }
 
}
